@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

/* styles/globals.css */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #161d29;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e2229;
}

.custom-container {
  @apply max-w-[1280px] w-full mx-auto px-5;
}
